.box-fixed {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 10;
}

.box-fixed .title-box {
  background-color: #337ab7;
  padding: 1%;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border-bottom: 1px solid gray;
}

.box-fixed .box {
  padding: 2% 10%;
}

.box-fixed .box button {
  margin: 2% 0;
}

#texto {
  padding: 22% 10% 10%;
}

#texto .gray-box {
  background-color: rgba(128, 128, 128, 0.4);
  margin-top: 1.5%;
  padding: 2%;
}

#texto .gray-box .nota {
  margin-left: 2%;
  word-break: break-all;
}

#texto .gray-box button {
  float: right;
}

@media (max-width: 900px) {
  #texto {
    padding: 30% 10% 10%;
  }
}

@media (max-width: 650px) {
  #texto {
    padding: 40% 10% 10%;
  }
}

@media (max-width: 480px) {
  #texto {
    padding: 50% 10% 10%;
  }
}
